<!DOCTYPE html>
<html lang="en">
  <head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P1FR07F6MN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P1FR07F6MN');
</script>

    <meta charset="utf-8">
    
    <style>
      @import url('https://fonts.googleapis.com/css?family=Quicksand');
      body {
        font-family: "Quicksand";
      }
      .bk-root {
         font-family: "QuickSand" !important;
         font-weight: "Bold";
         font-size:19px
      }
      {% include 'styles.css' %}

    </style>

    {{ bokeh_css }}
    {{ bokeh_js }}
  </head>
  <body>
    {{ plot_div|indent(8) }}
    {{ plot_script|indent(8) }}
  </body>


  <div class="footer">
    <p>Copyright &copy 2024 ; Developed by <a href="https://www.linkedin.com/in/neginsobhani">Negin Sobhani</a>  ; Special thanks to <a href="https://nationalsciencedatafabric.org/">National Science Data Fabric/a>. 
  </div>


</html>
