<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <style>
      @import url('https://fonts.googleapis.com/css?family=Quicksand');
      body {
        font-family: "Quicksand";
      }
      .bk-root {
         font-family: "QuickSand" !important;
         font-weight: "Bold";
         font-size:19px
      }
      {% include 'styles.css' %}
      {% include 'style.css' %}

    </style>

    {{ bokeh_css }}
    {{ bokeh_js }}
  </head>
  <body>
    {{ plot_div|indent(8) }}
    {{ plot_script|indent(8) }}
  </body>


  <div class="footer">
    <p>Copyright &copy 2023 ; Developed by <a href="https://www.linkedin.com/in/neginsobhani">Negin Sobhani</a>  ; Special thanks to <a href="http://www.pascucci.org/">Valerio Pascucci</a> and <a href=https://ci-compass.org/people/giorgio-scorzelli/>Giorgio Scorzelli</a>. 
  </div>


</html>
